<header class="masthead">
	<div class="wrap">
      {% if site.logo != null %}
  		<a href="/" class="site-logo" rel="home" title="{{ site.title }}"><img src="/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
      {% endif %}
      <h1 class="site-title animated fadeIn"><a href="/">Abhishek</a></h1>
      <h2 class="site-description animated fadeIn" itemprop="description">I am a Ph.D. candidate in computer science at the <a href="http://iitg.ernet.in/" target="_blank">Indian Institute of Technology Guwahati</a>, where I am being advised by <a href="http://www.iitg.ernet.in/anand.ashish/" target="_blank">Dr. Ashish Anand</a> and <a href="http://www.iitg.ernet.in/awekar/" target="_blank">Dr. Amit Awekar</a>. My research focuses on the applications of deep-learning to the problems in large-scale information extraction. The abstract of my completed and ongoing thesis work is available at <a href="https://aaai.org/ocs/index.php/AAAI/AAAI18/paper/view/16718" target="_blank">AAAI Doctoral Consortium proceeding</a>. </h2>
	</div>
</header>
